h1 {
	color: red;
	text-align: center;
}

.div-home-caption {
    border-style: dotted;
    border-width: 1px;
    display: inline-block;
    text-align: center;
}

.div-home-form {
	border-style: solid;
	border-width: 1px;
	padding: 10px;
}

.box-wide-input {
	width: 270px;
	height: 25px;
}


.home-form {
	font-size: 15pt;
}

.action-button {
	border-style: dotted;
	border-width: 1px;
    display: block;
    font-size: 15pt;
    height: 40px;
    margin: 10px auto 0;
    width: 90px;
    text-align: center;
}


.home-form input{
	width: 270px;
	height: 25px;
}

#mobileContainer {
	display: block;
    margin: 0 auto;
	max-width:360px;
    
}

#div-home-selector {
	height: 40px;
}

#div-login-form label{
	display:block;
}

#div-signup-form label{
	display:block;
}

#div-login-form label{
	display:block;
}

#div-signup-form input [type-text]{
	display:block;
}

#fos_user_registration_form_gender input{
	display: inline;
    width: 50px !important;
}

#fos_user_registration_form_gender label{
	display: inline;
    width: 50px !important;
}

