<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 
    <title>{% block title %} {% endblock %}</title>
 
	{% block stylesheets %}
		{% stylesheets filter='cssrewrite, ?yui_css'
			'@SpottedHomeBundle/Resources/public/css/mobile.css' %}
	  		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
		{% endstylesheets %}
	{% endblock %}
  </head>
 
  <body>  
  
  <div id="mobileContainer">
  
  {% block body %}
  
  {% endblock %}  
  
  </div>
 
  {% block javascripts %}

  {% endblock %}
 
  </body>
</html>