<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 	<meta name="viewport" content="width=device-width" initial-scale=1.0; maximum-scale=1.0; user-scalable=no;>
 	<meta name="apple-mobile-web-app-capable" content="yes">
    <title>{% block title %} {% endblock %}</title>
 
	{% block stylesheets %}
	  		<link rel="stylesheet" href="{{ asset('bundles/spottedhome/css/mobile.css') }}" type="text/css" /> 
	{% endblock %}
  </head>
 
  <body>  
  
  <div id="mobileContainer">
  
  {% block body %}
  
  {% endblock %}  
  
  </div>
 
  {% block javascripts %}
			 <script type="text/javascript" src="{{ asset('bundles/spottedhome/js/mobile.js') }}"></script>
			 <script type="text/javascript" src="{{ asset('js/jQuery.js') }}"></script>
  {% endblock %}
 
  </body>
</html>