{% extends "SpottedUserBundle::mobile.layout.html.twig" %}
 
{% block title %}{{'login.header.title'|trans }}{% endblock %}
 
{% block bodyAttributes %} onload="pageSetup();"{% endblock %}

{% block body %}

<h1>Authenticated Home</h1>

	
{% endblock %}