{% extends "SpottedHomeBundle::desktop.layout.html.twig" %}
 
{% block title %}{{'login.header.title'|trans }}{% endblock %}
 
{% block body %}
<h1>L'application n'est présentement utilisable qu'avec un mobile.</h1> 

{% include "FOSUserBundle::desktop.layout.html.twig" %}

{% endblock %}