{% extends "SpottedHomeBundle::mobile.layout.html.twig" %}
 
{% block title %}{{'login.header.title'|trans }}{% endblock %}
 
{% block body %}
<h1>Spotted</h1>

{% render 'FOSUserBundle:Security:Login' %}

{% endblock %}