{% extends "SpottedHomeBundle::desktop.layout.html.twig" %}
 
{% block title %}{{'home.header.title'|trans }}{% endblock %}
 
{% block body %}
<h1>L'application n'est présentement utilisable qu'avec un mobile.</h1> 

{% endblock %}