{% extends "SpottedHomeBundle::mobile.layout.html.twig" %}
 
{% block title %}{{'login.header.title'|trans }}{% endblock %}
 
{% block body %}
<h1>Mobile Version</h1>

{% include "FOSUserBundle::mobile.layout.html.twig" %}

{% endblock %}